body {
    margin: 0 auto;
    font-family: "Montserrat";
    position: relative;
    /* background-color: #463333; */
    background-color: #ffffff;
    --color1: #2a272a;
    --color2: #4b4a54;
    --color3: #b5bec9;
    --color4: #021c36;
  }
  body * {
    box-sizing: border-box;

  }
  img {
      align-items: center;

  }